<div id="calendar">
  @for (heure of heures; track $index) {
    <div class="hour">
      <div class="hour-separator"></div>
      <span class="hour-label">{{ heure }}</span>
    </div>
  }
  
  <div id="events">
    @for (event of liste; track $index) {
      <div [id]="event.objet.id"
            class="event" [ngStyle]="{ 'top.px': event.debut,
                                      'height.px': event.objet.duration,
                                      'width': event.cssWidth,
                                      'left': event.cssLeft }"
            [title]="event.objet.id + ' - Début : ' + event.objet.start + ' (' + event.objet.duration + 'min)'"
            tabindex="0">
        <div class="event-label">{{ event.objet.id }}</div>
      </div>
    }
  </div>
</div>